/* Adicione abaixo das definições do botão #addRowBtn */

#saveBtn, #exportBtn {
    margin-bottom: 20px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #008CBA; /* Cor azul */
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-right: 10px;
}

#saveBtn:hover, #exportBtn:hover {
    background-color: #007BB5;
}
